<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <!-- Mongo connection string-->
      <add key="mongoConnection" value="mongodb://159.203.231.8:27017" />
      <!-- Database name -->
      <add key="dbName" value="KaiamApp" />
      <!-- Collection that contains all sync locations 
          Fields:  
              _id - Represents computer domain name on the network
              ipAddress - last know IP address of this computer
              directories - array of objects containing directories that need to be synced:
                  path - full path to files to be synced (if will recurse in that directory)
                  lastRun - Date time when sync for this path was last run
                  fileFilter - comma delimited list of file name filters as regex
                  codeRegex - regex string for extracting code from file name
                  fileType - file type (csv, txt, json, etc.)                     
      -->
      <add key="syncLocationCollection" value="sync_locations" />
      
      <!-- Collection that contains all sync files. Each document represents one file 
          Fields:  
              _id - Randomly generated id
              source - computer name from where it is synced
              path - path synced
              subPath - sub path if recursed
              fileName - file name synced
              processed - boolean flag that shows if file is processed
              fileType - file type (txt, csv, json, img, xls etc)
              content - file string content (if not text then it is base64 encoded)
              dateCreated - date document is created
              dateProcessed - date file content is processed
       -->
      <add key="syncFilesCollection" value="sync_files" />
    </appSettings>
</configuration>